.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4%;
}

.more-movies,
.title {
  font-family: "Roboto", sans-serif;
}

.more-movies {
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
}

.title {
  color: black;
}

.more-movies {
  color: #0da199;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  padding: 10px 0 30px 0;
  border-bottom: 5px solid;
  letter-spacing: 2px;
}


.movies-container {
  display: flex;
  width: 100vw;
}

.image-container {
  background-color: #0da199;
  width: 199px;
  height: 262px;
}

/* img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */
